@model easycredit.Models.Inversion

@{
    ViewData["Title"] = "Crear";
    ViewData["Seccion"] = "Inversion";
    Layout = "_Layout";
    var codigo = Guid.NewGuid().ToString();
     codigo = "EC"+codigo.Substring(1,3)+"I"+ViewBag.id;
}

<h1>Nueva inversion</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" readonly value="@codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Monto" class="control-label"></label>
                <input asp-for="Monto" class="form-control" />
                <span asp-validation-for="Monto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TazaInteres" class="control-label"></label>
                <input asp-for="TazaInteres" class="form-control" />
                <span asp-validation-for="TazaInteres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plazo" class="control-label"></label>
                <input asp-for="Plazo" class="form-control" />
                <span asp-validation-for="Plazo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input asp-for="FechaInicio" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
          
           <div class="form-group">
                <label asp-for="ClienteId" class="control-label">Cliente</label>
                <select asp-for="ClienteId" class="form-control">
                    <option value="0">-- Seleccionar --</option>
                    @foreach (var item in ViewBag.clientes)
                    {
                        <option value="@item.Id">@item.Nombre @item.Apellido</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <button type="submit" value="Create" class="btn btn-primary" ><i class="bi bi-check-lg"></i> Guardar</button>
                <a asp-action="Index">Volver al listado</a>

            </div>
        </form>
    </div>
</div>




