@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Esta es una aplicacion para el manejo y gestion de prestamos e inversiones.</p>
</div>
