@model easycredit.Models.Cliente

@{
    ViewData["Title"] = "Editar";
    ViewData["Seccion"] = "Clientes";
    Layout = "_Layout";
}

<h1>Editar Cliente</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cedula" class="control-label"></label>
                <input asp-for="Cedula" class="form-control" />
                <span asp-validation-for="Cedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="TipoId" class="control-label">Tipo cliente</label>
                <select asp-for="TipoId" class="form-control" >

                     <option value="0">-- Seleccionar --</option>
                    @foreach (var item in ViewBag.tipos)
                    {
                    <option value="@item.Id">@item.Tipo</option>
                        
                    }
                </select>
                <span asp-validation-for="TipoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" value="Create" class="btn btn-primary"><i class="bi bi-check-lg"></i> Guardar</button>
                <a asp-action="Index">Volver al listadot</a>

            </div>
        </form>
    </div>
</div>



