@model easycredit.Models.TipoCliente

@{
    ViewData["Title"] = "Nuevo Tipo  Cliente";
    ViewData["Seccion"] = "Clientes";

    Layout = "_Layout";

}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" value="Create" class="btn btn-primary" ><i class="bi bi-check-lg"></i> Guardar</button>
                <a asp-action="Index">Volver al listado</a>

            </div>
        </form>
    </div>
</div>



